.body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://i.postimg.cc/brSKyMR4/react-01-01.png);
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  min-height: 100vh;
  margin: 0;
}

.main {
  background-color: hsla(222, 14%, 15%, 0.75);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 22.5rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.header {
  display: flex;
}

.header__professional-image-container {
  display: flex;
  max-width: 280px;
  margin: 0 auto;
}

.header__professional-image {
  width: 100%;
  border-radius: 50%;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.article__title,
.article__keywords,
.article__presentation,
.skills__title {
  font-weight: normal;
  letter-spacing: 2px;
  margin: 0;
}

.article__title {
  font-size: 2rem;
}

.article__presentation {
  font-size: 0.75rem;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.skills__title::before {
  content: '📚 ';
}

.skills__title::after {
  content: ' 📚';
}

.skills__skills-list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.skills__skill {
  background-color: #61dafb;
  color: initial;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 4px 8px;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

.skills__skill:hover {
  background-color: white;
}

.footer {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.footer__link-icon-container {
  display: flex;
  transition: all 0.5s;
  max-width: 2rem;
}

.footer__link-icon-container:hover {
  transform: scale(1.25);
}

.footer__link-icon {
  width: 100%;
}